<form class=" g-3 container mt-4" [formGroup]="form" (ngSubmit)="sendForm()">
  <h1>Datos del Programador</h1>
  <div class="row mb-3">
    <div class="col-md-4">
      <label for="nombre" class="form-label">Nombre</label>
      <input type="text" class="form-control" formControlName="nombre"
        [ngClass]="{'is-invalid': form.controls['nombre'].invalid && form.controls['nombre'].touched}">
      @if(form.controls['nombre'].invalid && form.controls['nombre'].touched){
        @if(form.controls['nombre'].errors?.['required']){
          <div class="text-danger">El nombre es obligatorio</div>
        }@else if(form.controls['nombre'].errors?.['minlength']){
          <div class="text-danger">El nombre debe tener al menos 3 caracteres</div>
        }
      }
    </div>
  
    <div class="col-md-4">
      <label for="apellido" class="form-label">Apellido</label>
      <input type="text" class="form-control" formControlName="apellido"
        [ngClass]="{'is-invalid': form.controls['apellido'].invalid && form.controls['apellido'].touched}">
      @if(form.controls['apellido'].invalid && form.controls['apellido'].touched){
        @if(form.controls['apellido'].errors?.['required']){
          <div class="text-danger">El apellido es obligatorio</div>
        }@else if(form.controls['apellido'].errors?.['minlength']){
          <div class="text-danger">El apellido debe tener al menos 3 caracteres</div>
        }
      }
    </div>
  
    <div class="col-md-4">
      <label class="form-label">DNI</label>
      <input type="text" class="form-control" formControlName="dni"
        [ngClass]="{'is-invalid': form.controls['dni'].invalid && form.controls['dni'].touched}">
      @if(form.controls['dni'].invalid && form.controls['dni'].touched){
        @if(form.controls['dni'].errors?.['required']){
          <div class="text-danger">El DNI es obligatorio</div>
        }@else if(form.controls['dni'].errors?.['minlength']){
          <div class="text-danger">El DNI debe tener al menos 8 caracteres</div>
        } @else if (form.controls['dni'].errors?.['dniUnico']) { <!-- Verifica el DNI buscando dniUnico creado en mi metodo dniUnicoValidadr() -->
          <div class="text-danger">El DNI ya existe</div>
        }
         @else {
          <div class="text-danger">El DNI debe tener como maximo 8 caracteres</div>
        }
      }
    </div>
  </div>

  <div class="card mb-3">
    <div class="card-header d-flex ">
      <h5 class="mb-0">Habilidades</h5>
    </div>
    <div class="card-body">
      <div class="col-md-12">
        <!-- [formControl]="habilidadesSeleccionada" recibe una habilidad seleccionada -->
         <!-- [formControl] entre corchetes para q sea dinamico y no estatico -->
          <select class="form-select" [formControl]="habilidadesSeleccionada"> 
            @for (item of listHabilidades; track $index) {
              <option [value]="item">{{item}}</option>
            }
          </select>
          <div class="mt-2" formArrayName="habilidades"> <!-- Etiqueta formArrayName igual al get del ts   -->
            <button class="btn btn-primary" type="button" (click)="agregarHabilidad()" >+</button>
            @for (habilidad of habilidades.controls; track $index) { <!-- habilidades.controls es el array de habilidades -->
              <span class="badge bg-primary mt-1"> {{habilidad.value}} 
                <button type="button" class="btn-close btn-close-white" (click)="eliminarHabilidad($index)"></button>
              </span>
            }
            <!-- Despues del @for en un FormArray se agrega la muestra del error 
             haciendo un if de mi formulario completo 'form' y pasandole el error que decimos donde se va a almacenar
             'unicaHabilidad' este nombre esta definido en el metodo sincronico para que no haya duplicados y 
             se le pasa el nombre que colocamos en la etiqueta formArrayName 'habilidades'-->
            @if (form.hasError('unicaHabilidad', 'habilidades')) {
              <div class="alert alert-danger">La habilidad ya ha sido seleccionada</div>
            }
          </div>
      </div>
    </div>
  </div>

  <hr>

  <div class="card mb-3">
    <div class="card-header">
      <h3 class="mb-0">Datos del contacto</h3>
    </div>
    <div class="card-body">
      <div formGroupName="contacto" class="row container mt-2">
        <div class="col-md-4">
          <label class="form-label">Email:</label>
          <input type="email" class="form-control mb-2" formControlName="email">
        </div>
    
        <div formArrayName="redSocial">
          <button type="button" class="rounded" (click)="agregarRedSocial()">
            <span class="">Agregar Red</span>
          </button>
          @for (item of redSocial.controls; track $index) {
            <div class="col-md-4">
              <label class="form-label">Red Social:</label>
              <input type="text" class="form-control" [formControlName]="$index" >
            </div>
            <button class="btn btn-close" type="button" (click)="eliminarRedSocial($index)"></button>
          }
        </div>
      </div> 
    </div>
  </div>

  <!-- FormArray de proyectos -->
  <div class="card mb-3">
    <!-- Header mostrando el h3 a la izquierda y boton para agregarProyecto a la izquierda -->
    <div class="card-header d-flex justify-content-between">
      <h3 class="mb-0">Proyectos</h3>
      <button class="btn btn-primary btn-sm" type="button" (click)="agregarProyecto()">
        +
      </button>
    </div>

    <!-- Body de la card con un formArray de proyectos -->
    <div class="card-body">
      <div formArrayName="proyectos">
        @for (item of proyectos.controls; track $index) {
          <div [formGroupName]="$index">
            <div class="col-md-4">
              <label class="form-label">Nombre:</label>
              <input type="text" formControlName="nombre" class="form-control">
              <!-- validacion visual para formArray. Utilizamos 'item' ya que lo tengo definido en mi @for -->
              @if (item.get('nombre')?.invalid && item.get('nombre')?.touched) {
                @if (item.get('nombre')?.errors?.['required']) {
                  <div class="text-danger">El nombre es obligatorio</div>
                } @else if (item.get('nombre')?.errors?.['minlength']) {
                  <div class="text-danger">El nombre debe tener al menos 3 caracteres</div>
                } @else {
                  <div class="text-danger">El nombre debe tener como maximo 15 caracteres</div>
                }
              }
            </div>
            <div class="col-md-4">
              <label class="form-label">Fecha Inicio:</label>
              <input type="date" formControlName="fechaInicio" class="form-control">
              @if (item.get('fechaInicio')?.hasError('errorFechaInicio')) { <!-- Mensaje de error para la fecha -->
                <div class="text-danger">La fecha de inicio no puede ser mayor a la fecha de hoy</div>
              }
            </div>
            <div class="col-md-4">
              <label class="form-label">Fecha Fin:</label>
              <input type="date" formControlName="fechaFin" class="form-control">
            </div>
            <button class="btn btn-close" type="button" (click)="eliminarProyecto($index)"></button>
            <hr>
          </div>
        }
      </div>
    </div>
  </div>

  <div class="text-end">
    <button class="btn btn-secondary me-2" type="button" (click)="onCancel()">Cancelar</button> <!-- BTN para redirigir a la lista -->
    <button class="btn btn-primary" type="submit">Enviar</button>
  </div>
</form>