<form class="row g-3 needs-validation" #form="ngForm" (ngSubmit)="sendForm(form)">
  <h1>Datos del Programador</h1>
    <div class="col-md-4">
      <label for="validationCustom01" class="form-label">Nombre</label>
      <input #nombre="ngModel" type="text" class="form-control" name="nombre" [(ngModel)]="prog.nombre" value="nombre" required minlength="3">
      @if(nombre.invalid && (nombre.dirty || nombre.touched)){
        @if(nombre.getError('required')){
            <div class="text-danger">El nombre es obligatorio</div>
        }@else {
            <div class="text-danger">El nombre debe tener al menos 3 caracteres</div>
        }
      }  
    </div>
    <div class="col-md-4">
      <label for="validationCustom02" class="form-label">Apellido</label>
      <input #apellido="ngModel" type="text" class="form-control" id="validationCustom02" name="apellido" [(ngModel)]="prog.apellido" value="apellido" required minlength="3">
        @if(apellido.invalid && (apellido.dirty || apellido.touched)){
            @if(apellido.getError('required')){
                <div class="text-danger">El apellido es obligatorio</div>
            }@else {
              <div class="text-danger">El apellido debe tener al menos 3 caracteres</div>
            }
        }
    </div>
    <div class="col-md-4">
        <label for="validationCustomUsername" class="form-label">Habilidades</label>
        <div class="input-group has-validation">
          <!-- Select para elegir habilidades -->
          <select #habilidades="ngModel" name="habilidades" class="form-select" [(ngModel)]="habilidadesSeleccionada" required>
              @for (item of listHabilidades; track $index) {
                  <option [value]="item">{{item}}</option>
              }
              
          </select>
          @if (habilidades.invalid && (habilidades.dirty || habilidades.touched)) {
            @if (habilidades.getError('required')) {
              <div class="text-danger">Seleccione una habilidad</div>
            }
          }
          
          
          <!-- Botón para agregar habilidades -->
          <button type="button" (click)="agregarHabilidades()" class="btn btn-primary">+</button>
        </div>
      
        <!-- Mostrando habilidades seleccionadas -->
        <div class="mt-3">
          <ul class="list-group">
            @for (item of prog.habilidades; track $index) {
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    {{item}}
                    <!-- Botón para eliminar habilidades -->
                    <button type="button" class="btn btn-danger btn-sm" (click)="eliminarHabilidad($index)">-</button>
                </li>
            }
          </ul>
        </div>
      </div>
      <hr>
      <div ngModelGroup="contacto" class="row container mt-2">
        <h3>Datos del contacto</h3>
        <div class="col-md-4">
          <label for="validationCustom02" class="form-label">Email:</label>
          <input #email="ngModel" type="text" class="form-control" name="email" [(ngModel)]="prog.contacto.email" id="" required>
          @if (email.invalid && (email.dirty || email.touched)) {
            @if (email.getError('required')) {
              <div class="text-danger">El email es obligatorio</div>
            } @else {
              <div class="text-danger">El email no es válido</div>
            }
          }
        </div>
        <div class="col-md-4">
          <label for="validationCustom02" class="form-label">Red Social:</label>
          <input #redsocial="ngModel" type="text" class="form-control" name="redSocial" [(ngModel)]="prog.contacto.redSocial" required>
          @if (redsocial.invalid && (redsocial.dirty || redsocial.touched)) {
            @if (redsocial.getError('required')) {
              <div class="text-danger">La red social es obligatoria</div>
            }
          }
      </div>
      </div>
    
    <div class="col-12">
      <button class="btn btn-primary" type="submit">enviar</button>
    </div>
  </form>