<nav class="navbar navbar-expand-lg navbar-primary justify-content bg-primary">
  <div class="container-fluid">
    <a href="/list" class="navbar-brand">Nav</a>
    <button class="navbar-toggler" type="button">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedConntent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a routerLinkActive="active" routerLink="/form" class="nav-link active">Formulario</a>
        </li>
        <li class="nav-item">
          <a routerLinkActive="active" routerLink="/list" class="nav-link active">Listado</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>